<launch>
  <arg name="image_topic" default="/usb_cam/image_raw" />
  <arg name="camera_info_topic" default="/usb_cam/camera_info" />
  <arg name="pose_prefix" default="/vrpn_client_node" />
  <arg name="output_file" default="$(env HOME)/.local/state/xgc2/camera/calibrations/usb_cam/extrinsics.yaml" />
  <arg name="parent_frame" default="map" />
  <arg name="child_frame" default="usb_cam_optical_frame" />
  <arg name="maximum_marker_age" default="0.1" />
  <arg name="ransac_threshold_px" default="3.0" />
  <arg name="maximum_inlier_error_px" default="5.0" />
  <arg name="pose_history_size" default="240" />
  <arg name="jpeg_quality" default="80" />
  <arg name="intrinsic_output_file" default="$(env HOME)/.local/state/xgc2/camera/calibrations/usb_cam/intrinsics.yaml" />
  <arg name="intrinsic_board_cols" default="7" />
  <arg name="intrinsic_board_rows" default="5" />
  <arg name="intrinsic_square_size" default="0.20" />
  <arg name="intrinsic_display_width" default="720" />
  <arg name="intrinsic_rate" default="6.0" />
  <arg name="bind_address" default="127.0.0.1" />
  <arg name="http_port" default="8765" />
  <arg name="frame_ancestors" default="'self' http://127.0.0.1:* http://localhost:*" />
  <arg name="allowed_origins" default="" />

  <node pkg="xgc_camera_calibration"
        type="calibrator_web.py"
        name="xgc_camera_calibrator_web"
        output="screen">
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="camera_info_topic" value="$(arg camera_info_topic)" />
    <param name="pose_prefix" value="$(arg pose_prefix)" />
    <param name="output_file" value="$(arg output_file)" />
    <param name="parent_frame" value="$(arg parent_frame)" />
    <param name="child_frame" value="$(arg child_frame)" />
    <param name="maximum_marker_age" value="$(arg maximum_marker_age)" />
    <param name="ransac_threshold_px" value="$(arg ransac_threshold_px)" />
    <param name="maximum_inlier_error_px" value="$(arg maximum_inlier_error_px)" />
    <param name="pose_history_size" value="$(arg pose_history_size)" />
    <param name="jpeg_quality" value="$(arg jpeg_quality)" />
    <param name="intrinsic_output_file" value="$(arg intrinsic_output_file)" />
    <param name="intrinsic_board_cols" value="$(arg intrinsic_board_cols)" />
    <param name="intrinsic_board_rows" value="$(arg intrinsic_board_rows)" />
    <param name="intrinsic_square_size" value="$(arg intrinsic_square_size)" />
    <param name="intrinsic_display_width" value="$(arg intrinsic_display_width)" />
    <param name="intrinsic_rate" value="$(arg intrinsic_rate)" />
    <param name="bind_address" value="$(arg bind_address)" />
    <param name="http_port" value="$(arg http_port)" />
    <param name="frame_ancestors" value="$(arg frame_ancestors)" />
    <param name="allowed_origins" value="$(arg allowed_origins)" />
  </node>
</launch>
