<launch>
  <arg name="extrinsic_file" default="$(env HOME)/.local/state/xgc2/camera/calibrations/usb_cam/extrinsics.yaml" />
  <arg name="parent_frame" default="map" />
  <arg name="camera_link_frame" default="usb_cam_link" />
  <arg name="optical_frame" default="usb_cam_optical_frame" />
  <arg name="static" default="true" />
  <arg name="publish_rate" default="10.0" />

  <node pkg="xgc_camera_calibration"
        type="extrinsic_tf_publisher.py"
        name="xgc_camera_extrinsic_tf"
        output="screen">
    <param name="extrinsic_file" value="$(arg extrinsic_file)" />
    <param name="parent_frame" value="$(arg parent_frame)" />
    <param name="camera_link_frame" value="$(arg camera_link_frame)" />
    <param name="optical_frame" value="$(arg optical_frame)" />
    <param name="static" value="$(arg static)" />
    <param name="publish_rate" value="$(arg publish_rate)" />
  </node>
</launch>
