<launch>
  <arg name="image_topic" default="/usb_cam/image_raw" />
  <arg name="camera_namespace" default="/usb_cam" />
  <arg name="camera_name" default="usb_cam" />
  <arg name="board_size" default="11x8" />
  <arg name="square_size" default="0.03" />
  <arg name="output_dir" default="$(env HOME)/.local/state/xgc2/camera/calibrations/usb_cam/intrinsic" />
  <arg name="output_file" default="$(arg output_dir)/intrinsics.yaml" />

  <node pkg="xgc_camera_calibration"
        type="run_intrinsic_calibrator.py"
        name="xgc_camera_intrinsic_calibrator"
        output="screen"
        args="--image-topic $(arg image_topic) --camera-namespace $(arg camera_namespace) --camera-name $(arg camera_name) --board-size $(arg board_size) --square-size $(arg square_size) --output-dir $(arg output_dir) --output-file $(arg output_file)" />
</launch>
